**
!pyproject.toml
!uv.lock
!src/
!src/**
!docs/
!docs/hackathon/
!docs/hackathon/chdd/
!docs/hackathon/chdd/CHDD_PYTHON/
!docs/hackathon/chdd/CHDD_PYTHON/РАСЧЕТ_ЧДД.py
!docs/hackathon/chdd/CHDD_PYTHON/chdd_model.py
!docs/hackathon/chdd/CHDD_PYTHON/excel_io.py
!docs/hackathon/chdd/CHDD_PYTHON/input/
!docs/hackathon/chdd/CHDD_PYTHON/input/Нормативы_ЧДД.xlsx
**/__pycache__/
**/__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
